{% extends "base.html.twig" %}

{% block body %}
<h1>Got trades?</h1>

<a href="{{ path('app_printing_printingsbyset', {setId: "WTR"}) }}">Welcome to Rathe</a><br />
<a href="{{ path('app_printing_printingsbyset', {setId: "ARC"}) }}">Arcane Rising</a><br />
<a href="{{ path('app_printing_printingsbyset', {setId: "ROS"}) }}">Rosetta</a>
{% endblock %} 