{% block printing_table %}
<turbo-frame id="printing_table">
    <table class="table table-hover table-sm table-striped card-printing">
        <thead>
            <tr>
                <th scope="col" style="width: 80px;">Code</th>
                <th scope="col" style="width: 300px;">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">No cards found</td>
            </tr>
        </tbody>
    </table>
</turbo-frame>
{% endblock %}