:root {
    --color-pitch-1: #c70e09;
    --color-pitch-2: #ffef00;
    --color-pitch-3: #0091d8;
    --tiny-font-size: 0.85rem;
}
body {
    padding-top: 60px;
}
.navbar {
    height: 57px;
}
.pitch-container {
    display: inline-flex;
    align-items: center; /* Align dots vertically */
    gap: 2px;
}
.pitch{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1px;
}
.pitch-1 {
    background-color: var(--color-pitch-1);
}
.pitch-2 {
    background-color: var(--color-pitch-2);
}
.pitch-3 {
    background-color: var(--color-pitch-3);
}

.rarity-marvel {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top; /* Aligns with text properly */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #784A8D;
    margin-top: 7px;
    margin-left: 1px;
  }

.rarity-fabled {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top; /* Aligns with text properly */
    border-left: 5px solid transparent;  
    border-right: 5px solid transparent;
    border-bottom: 8px solid #E69B49;
    position: relative;
    margin-top: 5px;
    margin-left: 2px;
}

.rarity-fabled::after {
    content: "";
    position: absolute;
    left: -5px; /* Adjust to match new width */
    top: 8px;  /* Adjust to match new height */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #E69B49;
}

.rarity-circle {
    width: 14px; /* Adjust size as needed */
    height: 14px;
    color: white;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the text slightly to the top */
    border-radius: 50%;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    line-height: 1; /* Ensures proper line height */
    padding-top: 4px;
}
.rarity-circle.common, .rarity-circle.token {
    background-color: #919191;
}
.rarity-circle.rare {
    background-color: #3B7095;
}
.rarity-circle.superrare {
    background-color: #694A87;
}
.rarity-circle.majestic {
    background-color: #C60E08;
}
.rarity-circle.legendary {
    background-color: #E69B49;
}
.rarity-circle.promo {
    background-color: #24863A;
}
.card-printing span.cardId {
    color: var(--bs-secondary);
    font-size: var(--tiny-font-size);
}
.input-group input:disabled {
    background-color: transparent; /* Remove default gray background */
    border: none; /* Remove border */
    text-align: center; /* Keep text centered */
    box-shadow: none; /* Remove any shadows */
    pointer-events: none; /* Prevent interactions */
    color: #000; /* Ensure text is visible */
}
/* Container for the cards */
.playset-icons-container{
    position: relative;
    width: 40px; /* Enough width to accommodate three cards with overlap */
    height: 30px;
    overflow: hidden; /* Hide anything that goes outside the container */
    display: flex;            /* Enable flexbox */
    align-items: center;      /* Align items vertically to the center */
    justify-content: center;
}

/* Positioning the cards */
.card-icon:nth-child(1) {
    left: 0;
    z-index: 3; /* First card on top */
}
.card-icon:nth-child(2) {
    left: 6px; /* Half the width of the card */
    z-index: 2; /* Second card in the middle */
}
.card-icon:nth-child(3) {
    left: 12px; /* Full width of the card */
    z-index: 1; /* Third card at the bottom */
}


.classImage,
.setImage {
    background-position: 50% 50%; /* Adjust which part is visible */
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    border: 2px solid #a7733f;
    border-radius: 1px;
    position: relative; /* Needed for positioning the banner */
    display: flex;
    align-items: center; /* Keeps image centered */
    justify-content: center;
    overflow: hidden;
}
.classImage {
    background-size: 100%;
    background-position: 50% 15% !important;
    background-repeat: no-repeat;
}
.classImage img,
.setImage img {
    max-width: 200px;
    object-fit: contain;
}

.classImage::after,
.setImage::after {
    content: attr(data-caption); /* Uses the value from the HTML */
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Black with 60% transparency */
    color: #c19a57;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    box-sizing: border-box;
}
.setImage._hnt {
    background-image: url('../images/set_art/art_hnt_keyart.original.jpg'); 
    background-size: 250%;
    background-position: 50% 35%;
}
.setImage._ros {
    background-image: url('../images/set_art/art_ros_keyart_withlogos.original.jpg'); 
    background-size: 120%;
}
.setImage._mst {
    background-image: url('../images/set_art/part_the_mistveil_key_art.original.jpg'); 
    background-size: 120%;
}
.setImage._hvy {
    background-image: url('../images/set_art/heavy_hitters_key_art.original.jpg'); 
    background-size: 130%;
}
.setImage._evo {
    background-image: url('../images/set_art/bright_lights_key_art.original.jpg'); 
    background-size: 130%;
}
.setImage._dtd {
    background-image: url('../images/set_art/dtd_key_art.original.jpg'); 
    background-size: 150%;
}
.setImage._out
 {
    background-image: url('../images/set_art/out_keyart.original.jpg'); 
    background-size: 130%;
}
.setImage._dyn
 {
    background-image: url('../images/set_art/dyn_key_art.original.jpg'); 
    background-size: 130%;
}
.setImage._1hp
 {
    background-image: url('../images/set_art/1hp_keyart_dnhst.original.jpg'); 
    background-size: 200%;
    background-position: 50% 70%;
}
.setImage._upr
 {
    background-image: url('../images/set_art/upr_key_art_7Zz.original.jpg'); 
    background-size: 150%;
}
.setImage._evr
 {
    background-image: url('../images/set_art/Everfest_Banner_FullHD.original.jpg'); 
    background-size: 130%;
}
.setImage._ele
 {
    background-image: url('../images/set_art/toa_art_01.original.jpg'); 
    background-size: 130%;
}
.setImage._mon
 {
    background-image: url('../images/set_art/Monarch_Key_Art_FullHD.original.jpg'); 
    background-size: 230%;
    background-position: 50% 60%;
}
.setImage._cru
 {
    background-image: url('../images/set_art/CRU_HOME-PAGE.original.png'); 
    background-size: 130%;
}
.setImage._arc
 {
    background-image: url('../images/set_art/key_img_one.original.jpg'); 
    background-size: 150%;
    background-position: 50% 20%;
}
.setImage._wtr
 {
    background-image: url('../images/set_art/Welcome_to_Rathe_Key_Art_v1_FullHD.original.jpg'); 
    background-size: 120%;
}


.classImage.generic
{
    background-image: url('../images/class_art/talishar_cropped.png'); 
    background-position: 50% 50% !important;
}

.classImage.warrior
{
    background-image: url('../images/class_art/dorinthea_hero.original.jpg'); 
}
.classImage.guardian
{
    background-image: url('../images/class_art/bravo_hero.original.jpg'); 
}
.classImage.brute
{
    background-image: url('../images/class_art/rhinar_hero.original.jpg');
    background-position: 50% 20% !important; 
}
.classImage.ninja
{
    background-image: url('../images/class_art/katsu_hero.original.jpg'); 
    background-position: 50% 10% !important;
}
.classImage.wizard
{
    background-image: url('../images/class_art/kano_old.original.jpg'); 
    background-size: 150%;
    background-position: 50% 30% !important;
}
.classImage.mechanologist
{
    background-image: url('../images/class_art/mechanologist.jpg'); 
    background-position: 50% 30% !important;
}
.classImage.runeblade
{
    background-image: url('../images/class_art/vis19238.original.jpg'); 
    background-position: 50% 20% !important;
}
.classImage.illusionist
{
    background-image: url('../images/class_art/prism.jpg'); 
}
.classImage.ranger
{
    background-image: url('../images/class_art/azalea.original.jpg'); 
}
.classImage.assassin
{
    background-image: url('../images/class_art/out_art_uzuri.original.jpg'); 
    background-position: 50% 30% !important;
}
.classImage.bard
{
    background-image: url('../images/class_art/melody.jpg'); 
    background-position: 50% 20% !important;
}
.classImage.merchant
{
    background-image: url('../images/class_art/art_image_genis.original.jpg'); 
    background-position: 50% 25% !important;
}
.classImage.shapeshifter
{
    background-image: url('../images/class_art/Shiyana.original.jpg'); 
    background-position: 50% 20% !important;
}

// Boostrap SASS + overrides
// $table-bg: #E2CDBB;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

/* The individual card icons */
.card-icon {
    position: absolute;
    width: 1rem;
    height: 1.25rem;
    border: 1px solid white;
    border-radius: .1875rem;
    background-color: $gray-400;
    z-index: 1; /* Make sure the cards are stacked */
    vertical-align: middle;
}

.card-icon.filled {
    background-color: $yellow-400;
}
.btn-sm {
    border: none;
}

.input-group-sm .form-control {
    padding: 0px 0px !important; /* Reduce inner spacing */
    max-width: 30px !important;
}