<div id="printing_table" class="table-responsive">
    <div
        class="visually-hidden"
        data-infinitescroll-target="paginationInfoContainer"
        data-total-results="{{ cardPrintingsResultSet.totalAmount }}"
        {% if pageType == collectionPageType_CLASS %}
            data-fetch-more-url="{{
                absolute_url(
                    path(
                        name: 'app_collection_fetchcardprintingrowsbyoffset',
                        parameters = { className: app.request.attributes.get('_route_params')['className'] }
                    )
                )
            }}"
        {% elseif pageType == collectionPageType_SET %}
            data-fetch-more-url="{{
                absolute_url(
                    path(
                        name: 'app_collection_fetchcardprintingrowsbyoffset',
                        parameters = { setId: app.request.attributes.get('_route_params')['setId'] }
                    )
                )
            }}"
        {% endif %}
    >
    </div>
    <table class="table table-sm card-printing align-middles mb-5">
        <tbody id="card_printing_table_content">
            {% if cardPrintingsResultSet.totalAmount == 0 %}
                <tr>
                    <td colspan='7' class="text-center">No cards found</td>
                </tr>
            {% else %}
                <tr class="no-hover">
                    <td colspan="7" class="position-relative text-body-secondary">
                        <div class="position-absolute start-0 top-0">
                            <a class="text-secondary link-underline link-underline-opacity-0"
                            data-action="click->printing#toggleAllRows"
                            data-printing-target="toggleAllRowsElement"
                            style="cursor: pointer;">
                                <i class="bi bi-chevron-expand" style="font-size: 1.3rem;"></i> Expand all
                            </a>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            Cards found: {{ cardPrintingsResultSet.totalAmount }}
                        </div>
                    </td>
                </tr>

                {% include 'collection/player_view_table_content.html.twig' %}
            {% endif %}
        </tbody>
    </table>
</div>