<footer class="bg-dark text-light py-4 mt-auto text-center">
    <div class="container text-center text-secondary">
        <div class="row">
            <div class="col-12">
            <a href="{{ path('app_home_privacypolicy') }}" class="link-secondary">Privacy policy</a> | <a href="{{ path('app_home_termsofservice') }}" class="link-secondary">Terms of service</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                'That all you got?' is in no way affiliated with <a href="https://legendstory.com/" target="_blank" class="link-secondary">Legend Story Studios®</a>. <a href="https://fabtcg.com/" target="_blank" class="link-secondary">Flesh and Blood™</a> is a registered trademark of Legend Story Studios. <br />
                Flesh and Blood™ and all associated images are copyright © Legend Story Studios. All rights reserved.
            </div>
        </div>
    </div>
</footer>